<!-- IF S_RECENT_TOPICS -->
<!-- Recent topics for JS && Anvar BB3.Mobi -->
<!-- IF S_RECENT_MARQUE -->
	<script type="text/javascript">
	$(document).ready(function() {
		$.ajax({
			url: "{U_RECENT_CRAWL}",
			type: "GET",
			cache: true,
			success: function(data) {
				$("#recent_topics").html(data);
				<!-- IF S_CRAWLER -->
				marqueeInit({
					uniqueid: 'recent_topics',
					style: {
						'padding': '0px',
						'width': '99%',
						'margin': '0 auto'
					},
					inc: {S_CRAWLER_SPEED},
					mouse: '<!-- IF S_CRAWLER_BEHAVIOR -->cursor driven<!-- ELSE -->pause<!-- ENDIF -->',
					moveatleast: {S_CRAWLER_MOVEATLEAST},
					neutral: {S_CRAWLER_NEUTRAL},
					savedirection: <!-- IF S_CRAWLER_DIRECTION -->true<!-- ELSE -->false<!-- ENDIF -->,
				});
				<!-- ENDIF -->
			}
		});
	});
	</script>
<!-- ELSE -->
	<script type="text/javascript">
	$(document).ready(function() {
		$.ajax({
			url: "{U_RECENT_TOPICS}",
			type: "GET",
			cache: true,
			success: function(data) {
				$("#recent_topics").html(data);
			}
		});
	});
	</script>
<!-- ENDIF -->
<!-- ENDIF -->
