<!-- IF .topicrow -->
document.writeln('<h3><!-- IF L_RECENT_TITLE -->{L_RECENT_TITLE}<!-- ELSE -->{L_SEARCH_ACTIVE_TOPICS}<!-- ENDIF --></h3><ul class="recent">\n');
<!-- BEGIN topicrow -->
document.writeln('<li class="title"><a href="{topicrow.U_LAST_POST}">{topicrow.TOPIC_TITLE}</a> — {topicrow.LAST_POST_TIME}, <span<!-- IF topicrow.POST_AUTHOR_COLOUR --> style="colour:{topicrow.POST_AUTHOR_COLOUR}"<!-- ENDIF -->>{topicrow.LAST_POST_AUTHOR}</span><!-- IF topicrow.TOPIC_REPLIES --> &rarr; <!-- IF L_RECENT_POSTS_NAME -->{L_RECENT_POSTS_NAME}<!-- ELSE -->{L_MESSAGES}<!-- ENDIF --> {topicrow.TOPIC_REPLIES}<!-- ENDIF --></li>\n');
	<!-- BEGIN first_post_text -->
	document.writeln('<li class="content">{topicrow.first_post_text.TOPIC_FIRST_POST_TEXT}\n');
		<!-- BEGIN attachment -->
		document.writeln('<br />{topicrow.first_post_text.attachment.DISPLAY_ATTACHMENT}\n');
		<!-- END attachment -->
	document.writeln('</li>\n');
	<!-- END first_post_text -->
<!-- END topicrow -->
document.writeln('</ul>\n');
<!-- ENDIF -->
